{% extends '::base.html.twig' %}

{% block content %}

<div id="inne">
    <div class="grid_3 user">
        Name: <input type="text" name="name" autofocus><br>
        <button>Das sag ich!</button>
    </div>
    
    <div class="grid_9 input">
        <textarea class="grid_9"></textarea>
    </div>
    
    <div class="clear"></div>
</div>

<div id="usse">
{% include 'MMchatBundle:Default:post.html.twig' with {'posts': posts} %}
</div>


{% endblock %}