    <hr>
    
    {% for post in posts %}
    <div class="grid_3 user">
        <strong>{{ post.author }}</strong>
    </div>
    
    <div class="grid_9 message">
        {{ post.post | raw }}
    </div>
    
    <div class="clear"></div>
    {% endfor %}
